menu "Memory Configuration"

config PC_RESET_OFFSET
  hex "Offset of reset vector from the base of MROM"
  default 0

config MEM_RANDOM
  depends on !DIFFTEST
  bool "Initialize the SRAM with random values"
  default y
  help
    This may help to find undefined behaviors.

endmenu #MEMORY
